<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      <remove name="WebDAV" />
    </handlers>

    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <aspNetCore processPath=".\venv\Scripts\python.exe" 
                arguments="launch.py"
                stdoutLogEnabled="true" 
                stdoutLogFile="logs\stdout">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="." />
        <environmentVariable name="PATH" value="%PATH%;%USERPROFILE%\.dotnet\tools;.\venv\Scripts" />        
      </environmentVariables>    
    </aspNetCore>
  </system.webServer>
</configuration>